@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body{
    font-family: 'Poppins';
    font-weight: 300;
    background-color: #DFD9E2;
}

h1{
    color: #865B9A;
}

h2{
    letter-spacing: 20px;
    text-align: center;
    text-transform:uppercase;
}
h2{
    color: #865B9A;
}
h3{
    color: #865B9A;
}

#introduction{
    font-weight: 500;
}
button{
    width: 100px;
    font-size: 20px;
    color: white;
    background: #865B9A;
    display: inline-block;
}
button:hover{
    background-color: green;
}

.head-title {
    color: #865B9A;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}